{
  "discord-server-id": "<server-id>",
  "discord-notifications-channel-id": "<channel-id-for-stream-announcements>",
  "discord-token": "abcd.1234",
  "bot-user-name": "Your BotName",
  "bot-avatar-url": "https://cdn.discordapp.com/app-icons/467693631986466825/f6b52aef5431c2814e2c164a36383955.png",
  "target-game-ids": [
    11557, << Ocarina of Time >>
    12482, << Majora's Mask >>
    17586 << Starfox 64 >>
  ],
  "target-stream-tags": [
    ""
  ],
  "target-stream-title-wordlist": [
    "soh",
    "shipofharkinian",
    "ship of harkinian",
    "2ship",
    "2s2h",
    "2ship2harkinian",
    "starship"
  ],
  "target-stream-detection-type": "title",
  "twitch-client-id": "<twitch application client id>",
  "twitch-client-secret": "<twitch application client secret>",
  "twitch-refresh-token": "<twitch application oauth2 refresh token>",
  "twitch-access-token": "<twitch application oauth2 access token (optional, will be refreshed)",
  "twitch-access-token-expires-At": 0
}